@tailwind base;
@tailwind components;
@tailwind utilities;

#grid {
  transition: transform 0.3s ease-in-out;
}

/* Additional styles for the grid element, adjust as needed */
#grid:hover {
  transform: scale3d(1, 1, 1.1); /* Example scaling on hover, adjust as needed */
}

.title {
  color: white;
}

.suggestion-container {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}


.display-none {
  @apply hidden;
}
#search-results li {
  padding: 8px;
  cursor: pointer;
}

#search-results li:hover {
  background-color: #948f8f;
}
/* 
.cont div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cont div:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
 */
